<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-custom px-4">
    <a class="navbar-brand" href="#">
      <img src="logo_1-removebg-preview.png" alt="Logo" class="navbar-logo">
    </a>
    <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" href="home.html">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="about.html">About Us</a></li>
        <li class="nav-item"><a class="nav-link" href="shop.html">Shop</a></li>
        <li class="nav-item"><a class="nav-link" href="blog.html">Blog</a></li>
        <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
      </ul>

      <div class="d-flex align-items-center icon">
        <a href="cart.html"><i class='bx bx-cart-add icon-btn'></i></a>
        <a href="wishlist.html"><i class='bx bx-heart icon-btn'></i></a>
        <a href="login.html"><button class="login-btn ms-2">Login</button></a>
      </div>
    </div>
  </nav>


  <div class="banner">
    <div class="left"><img src="logo 1.png" alt="logo" width="150px" height="150px"></div>
    <div class="number ">
      <p>Call on:9876565239</p>
    </div>
    <div class="main"><img src="cuisinart_banner_website 1.png" alt="banner" height="300px"></div>
    <div class="side"><img src="Screenshot_2025-09-15_175107-removebg-preview.png" alt="log"></div>
    <div class="right">
      <p class="tech">TECH NOVA</p>
      <p class="welcome">WELCOME YOU ALL TO</p>
      <P class="offer">50% OFFER FOR ELECTRONICS</P>
      <div class="day">
        <p>Date:19TH - 23RD MAY</p>
      </div>
      <div class="more">
        <div class="view"><button>View More</button></div>
        <div class="avail">
          <p>OFFER AVAILABLE IN FEW DATES</p>
        </div>
      </div>
      <div class="dark">
        <div>
          <p>HEAVY DISCOUNT</p>
        </div>
        <div>
          <p>FINANCE AVAILABLE</p>
        </div>
        <div>
          <p>EXCHANGE OFFERS</p>
        </div>
      </div>
    </div>
  </div>
  <section class="trend">
    <h2>Global Gadgets : Trending Products</h2>
    <div class="container text-center gadgets">
      <div class="row">
        <div class="col">
          <img src="Pasta_maker_1 1.png" alt="pasta">
        </div>
        <div class="col">
          <img src="WhatsApp_Image_2023-06-07_at_3.40.43_PM 1.png" alt="ice">
        </div>
        <div class="col">
          <img src="cuisinart_waffle_maker.png" alt="waffle" width="300" height="222">
        </div>
        <div class="col">
          <img src="Pizza_maker 1.png" alt="pizza">
        </div>
      </div>
    </div>
  </section>
  <section class="ship">
    <div class="container text-center shipping">
      <div class="row">
        <div class="col">
          <h2><i class='bx bxs-shopping-bags'></i> FREE SHIPPING</h2>
          <p>FREE SHIPPING ON ALL ORDER</p>
        </div>
        <div class="col">
          <h2> <i class='bx bx-money'></i> MONEY BACK QUARANTEE</h2>
          <p>100% MONEY BACK QUARANTEE</p>
        </div>
        <div class="col">
          <h2><i class='bx bx-support'></i> ONLINE SUPPORT</h2>
          <p>REACH TO US WITH ANY QUERY</p>
        </div>
      </div>
    </div>
  </section>
  <section class="products">
    <h2>Exclusive Products</h2>
    <div class="container text-center product1">
      <div class="row row-cols-4 ">
        <div class="col"><img src="citiz_and_milk_exclusive 1.png" alt=""></div>
        <div class="col"><img src="cera_plus 1.png" alt=""></div>
        <div class="col"><img src="CUISINART_220V_PROFESSIONAL 1.png" alt=""></div>
        <div class="col"><img src="Dual_Zone_Air_Fryer 1.png" alt=""></div>
      </div>
      <div class="row row-cols-4 product2">
        <div class="col"><img src="image (56).png" alt=""></div>
        <div class="col"><img src="Pasta_maker_1 1.png" alt=""></div>
        <div class="col"><img src="yogurt_maker_b 1.png" alt=""></div>
        <div class="col"><img src="vanilla_ice_cream 1.png" alt=""></div>
      </div>
    </div>
  </section>
  <h2 class="quest">Customer's Common Question</h2>
  <div class="accordion accordion-flush fs-2" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed fs-2 fw-bold" type="button" data-bs-toggle="collapse"
          data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          1. What types of products do you sell?
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">We specialize in a wide range of smart electronics and innovative gadgets,
          including smart homedevices, wearables, mobile accessories, wireless chargers, security systems, and
          more.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed fs-2 fw-bold" type="button" data-bs-toggle="collapse"
          data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
          2. Are your products compatible with Alexa, Google Home or Apple HomeKit?
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Many of our smart home products are compatible with popular ecosystems like
          Amazon Alexa, Google Assistant, and Apple HomeKit.Please check each product's description for
          specific compatibility details.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed fs-2 fw-bold" type="button" data-bs-toggle="collapse"
          data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
          3. Do You offer warranties on your products?
        </button>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Yes! Most of our products come with a standard 6- to 12-months manufacture's
          warranty. Some products may have extended warranties-details are available on theproduct page.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed fs-2 fw-bold" type="button" data-bs-toggle="collapse"
          data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
          4. How can I track my order?
        </button>
      </h2>
      <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Once your order is shipped, You'll receive a confirmation email with a tracking
          number and link. You can also log in to ypur account on our website to trackyour order anytime.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed fs-2 fw-bold" type="button" data-bs-toggle="collapse"
          data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseTwo">
          5. How long does shipping take?
        </button>
      </h2>
      <div id="flush-collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">We offer fast and reliable shipping. Most orders are processed within 1-2 business
          days.Delivery times vary bylocation but typically range from 3-7 business days. </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed fs-2 fw-bold" type="button" data-bs-toggle="collapse"
          data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseTwo">
          6. Do You ship internationally?
        </button>
      </h2>
      <div id="flush-collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Yes, we ship to many countries worldwide. International shipping rates and times
          vary depending on destination and package weight.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed fs-2 fw-bold" type="button" data-bs-toggle="collapse"
          data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseTwo">
          7. what is your return policy?
        </button>
      </h2>
      <div id="flush-collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">If your'e not satisfied with your purchase, you can return most items within 30 days
          of delivery for a full of refund or exchange . Items must be unused and in original packaging. Check our
          return policy page for full details.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed fs-2 fw-bold" type="button" data-bs-toggle="collapse"
          data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseTwo">
          8.How can I contact customer support?
        </button>
      </h2>
      <div id="flush-collapseEight" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">You can reach us anutime through our contact Us page or by emailing
          [support@yourbrand.com].We usually respond within 24 hours on business days.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed fs-2 fw-bold" type="button" data-bs-toggle="collapse"
          data-bs-target="#flush-collapseNine" aria-expanded="false" aria-controls="flush-collapseTwo">
          9. Re your gadgets safe to use?
        </button>
      </h2>
      <div id="flush-collapseNine" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Absolutely. All Our products are tested and certified for safety and performance. We
          source only from trusted manufacturers who meet international standards. </div>
      </div>
    </div>
  </div>

  <div class="container text-center py-5">

    <div class="d-flex justify-content-center mb-4 gap-3">
      <img src="delonghi-seeklogo.png" alt="Delonghi" class="logo" width="250px" height="250px">
      <img src="devialet-seeklogo.png" alt="Devialet" class="logo" width="250px" height="250px">
      <img src="dell-seeklogo.png" alt="Dell" class="logo" width="250px" height="250px">
      <img src="cuisinart-seeklogo.png" alt="Cuisinart" class="logo" width="250px" height="250px">
      <img src="ferrari-seeklogo.png" alt="Ferrari" class="logo" width="250px" height="250px">
      <img src="bose-seeklogo.png" alt="Bose" class="logo" width="250px" height="250px">
      <img src="hp-seeklogo.png" alt="HP" class="logo">
    </div>


    <h2 class="mb-3">Weekly Newsletter</h2>
    <p class="mb-4">Join Our Community And Never Miss An Update.</p>


    <form class="d-flex justify-content-center">
      <input type="email" class="form-control me-2" placeholder="enter mail id" required>
      <button class="btn subscribe-btn" type="submit">subscribe</button>
    </form>
  </div>

  <footer class="pt-5 pb-4">
    <div class="container">
      <div class="row">

        <div class="col-md-3 mb-4 text-center text-md-start">
          <img src="logo_1-removebg-preview.png" alt="Tech Nova Logo" class="footer-logo mb-2">
          <p class="tagline">“GADGETS REFINED.<br>QUALITY DEFINED.”</p>
        </div>


        <div class="col-md-2 footer-section mb-4">
          <h5>Our Store</h5>
          <ul class="list-unstyled">
            <li>Contact Us</li>
            <li>About Us</li>
            <li>Shipping & Delivery</li>
            <li>FAQ’s</li>
          </ul>
        </div>


        <div class="col-md-3 footer-section mb-4">
          <h5>Legal</h5>
          <ul class="list-unstyled">
            <li>Privacy Policy</li>
            <li>Terms & Condition</li>
            <li>Return & Exchange</li>
          </ul>
        </div>

        <div class="col-md-4 footer-section mb-4">
          <h5>Contact</h5>
          <p><i class='bx bx-location-plus'></i> 36, Ramakrishnapuram,<br>Thindugal - 657 984</p>
          <p><i class='bx bxs-phone'></i> 89378 64789, 64784 56483</p>
          <p><i class='bx bx-envelope'></i> Technova@Electronis.in</p>
        </div>
      </div>


      <div class="row border-top pt-3 mt-3 align-items-center">
        <div class="col-md-6 text-center text-md-start">
          <p class="mb-0 copyright">Copyright © TECH NOVA. All Rights Reserved.</p>
        </div>
        <div class="col-md-6 text-center text-md-end">
          <span class="me-3 fw-bold">Follow Us</span>
          <a href="#" class="text-white me-3"><i class='bx bxl-instagram fs-3'></i></a>
          <a href="#" class="text-white me-3"><i class='bx bxl-facebook fs-3'></i></a>
          <a href="#" class="text-white"><i class='bx bxl-google fs-3'></i></a>
        </div>
      </div>
    </div>
  </footer>




  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"></script>
</body>

</html>